*{
    margin:10px;
}

h1,h2{
    color:#121a2e;
}

p{
    color:#121a2e;
    font-size:1.2em;
}

/* Main Content */
body{
    font-family:Roboto sans-serif;
    color: #3d3939;
    margin-top:50px;
    background-color: #121a2e;
}

footer{
    bottom:0;
    margin:inherit;
    margin:0 auto;
    width:80%;
    color:white;
}

hr{
    border:0px;
    border-bottom: 3px solid #F7D43B;
}

.container{
    width:80%;
    margin:0 auto;
    background-color: white;
    padding:30px 20px;
    border-radius:30px;
}

.hide {
    display:none;
}

/* Error Messages */
#error-text{
    color:#ED4558;
    font-style: italic;
    display:none;
}
#error-nametext{
    color:#ED4558;
    font-style: italic;
    display:none;
}

/* Quiz Heading Area */

.quiz-heading{
    font-size: 1.5em;
    text-align: center;
    color:#121a2e;
    font-weight:600;
    margin-bottom:30px;
}

#entry-screen{
    margin:0 auto;
    text-align: center;
    margin:30px 10px;
}
.guidelines{
    color:#9433D6;
}

#namefields{
    margin:30px 10px;
}

/* Quiz Questions Area */
.quiz-container{
    display:none;
}

#quiz-question{
    font-size: 1.3em;
}

#quiz-question-number{
    color:#9433D6;
    padding:20px 0px;
}

.answers label{
    color:#121a2e;
    font-size: 1.2em;
}

@media screen and (min-width:901px){
    .container{
        max-width:700px;
        margin:20vh auto;
    }
    footer{
        max-width:700px;
    }
    

}