*{
    margin:10px;
}

hr{
    border:0px;
    border-bottom: 3px solid #eee;
    width:70%;
}

.container{
    width:80%;
}

.quiz-container{
    display:none;
}

.hide {
    display:none;
}

.red{
    background-color: red;
}

#error-text{
    color:red;
    font-style: italic;
    display:none;
}